
.copyprevious {
    cursor: copy;
    font-size: 1.2em;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    padding-bottom: 15px;
    margin-top: 6px;
    font-size: 0.9em;
}

.col-label {
    width: 35%;
    float: left;
    margin-top: 6px;
}

.col-input {
    width: 65%;
    float: left;
    margin-top: 6px;
}

.btn {
    border-radius: 5px;
    border: 2px solid white;
    font-size: smaller;
    padding: 2px 20px 2px 20px;
}

.hash {
    font-size: 0.3em;
}

