
#overview_page, #directory_view {
    margin: 0 15px;
    font-size: 0.9em;
}

#columns {
    display: flex;
    flex-direction: row;
}

.col_head {
    font-size: 1.2em;
}

.directories, .deltas {
    margin-left: 100px;
}

.deltas div {
    margin: 10px;
}

.deltas span {
    margin: 15px 10px 15px 0;
    display: block;
    font-size: 1.0em;
}

.directories div {
    margin: 10px;
    width: 350px;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: start;

}

.top_label {
    margin-left: 10px;
}

.directories a {
    color: var(--link-color);
    margin-right: auto;
    margin-left: 10px;
}

.span1 {
    text-align: right;
    width: 35px;
}

.span2 {
    text-align: right;
    width: 70px;
}

.representations {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.represent {
    margin: 10px;
    font-size: 0.85em;
    text-align: center;
}

.represent img {
    max-height:100px;
    margin: auto;
    display: block;
}
