
#store_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#store_block, #dao_block {
    margin: 20px 50px;
    max-width: 609px
}

.info_block {
    margin-bottom: 30px;
    margin-left: 50px;
}

.info_sub_block {
    margin: 10px 0;
}

.info_sub_block label {

}

.info_head {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.info_row {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.info_row label {
    width: 10em;
    display: block;
}

.info_row a, .info_sub_block a {
    margin-left: auto;
}

.button_panel {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

#result {
    margin-right: auto;
}

.progress {
    margin: 10px 0;
    color: var(--link-color);
}

.progress div:nth-child(1) {
    background-color: #999999;
    height: 0.6em;
    /*overflow: hidden;*/
    margin-bottom: 5px;
}

.progress div:nth-child(2) {
    text-align: center;
}

input[type=submit].serious {
    background: red;
    color: white;
}
input[type=submit].serious:hover:not([disabled]) {
    background: orange;
    color: black;
}
span.serious {
    color: red;
    margin-right: 20px;
}

.error {
    font-size: 1em;
    font-weight: bold;
    color: red;
    background-color: lightgray;
    margin-top: 20px;
    padding: 20px;
}

.left_button {
    margin-top: 20px;
}

.table_block {
    margin-top: 30px;
}

td, th {
    padding: 2px 10px;
}
th {
    background-color: var(--font-color);
    margin: 0;
    color: var(--background);
}