#work_view {
    margin: 25px 50px 25px 50px;
    position: relative;
}

.image {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-items: auto;
    vertical-align: top;
}
.work span {
    margin-top: 25px;
    font-style: italic;
    font-size: 0.9em;
    display: block;
    width: 100%;
    color: gray;
    text-align: center;
}

/* left and right paging */
.lrpage-prev {
    position: fixed;
    bottom: 0;
    left: -50px;
    width: 35px;
    height: 100%;
}

.lrpage-next {
    position: fixed;
    bottom: 0;
    right: -50px;
    width: 35px;
    height: 100%;
}

[class^="lrpage-"] a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.lrpage-prev a > picture > img {
    position: absolute;
    top: 60vh;
    left: 0;
}

.lrpage-next a > picture > img {
    position: absolute;
    top: 60vh;
    right: 0;
}

[class^="lrpage-"] a > picture > img {
    opacity: var(--opacity);
    background-color: var(--background);

}

[class^="lrpage-"] a:hover > picture > img {
    opacity: 1.0;
    /*background-color: grey;*/
}

/* end left and right paging */

/* column 3 display  */
#column_3 {
    display: none;
}

#right_data_out {
    width: 36px;
    height: 35px;
    background-color: gray;
    position: fixed;
    right: 0;
    top: 0;
    opacity: var(--opacity);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#right_data_out:hover {
    opacity: 1.0;
    background-color: grey;
}

#right_data_in {
    width: 36px;
    height: 35px;
    background-color: grey;
    position: fixed;
    right: var(--col3width);
    top: 0;
    opacity: var(--opacity);
    display: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#right_data_in:hover {
    opacity: 1.0;
    background-color: grey;
}

#left_button_group {
    width: 36px;
    height: 100%;
    padding-left: 2px;
    padding-top: 5px;
    position: fixed;
    left: var(--col1width);
    top: 0;
}

#right_button_group {
    direction: rtl;
    width: 36px;
    height: 100%;
    padding-right: 2px;
    padding-top: 5px;
    position: fixed;
    right: var(--col3width);
    top: 0;
}

.glower {
    opacity: var(--opacity);
}

.glower:hover {
    opacity: 1.0;
}

.link_bar {
    width: 10vw;
    height: 80%;
}

