
#works_year_view {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px 15px 30px;
    margin: 25px 50px 25px 50px;
    position: relative;
}

div.work {
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

div.image div {
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
    padding-right: 10px;
    color: gray;
}

div.image img {
    max-width: 350px;
    max-height: 350px;
}

.works_year_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.page_btn {
    color: grey;
    font-size: 1.5em;
}

.page_dig {
    color: grey;
    font-size: 1.2em;
}

.disabled {
    visibility: hidden;
}

.left_pager {
    margin-top: 30px;
}

#left_button_group {
    width: 36px;
    height: 100%;
    padding-left: 2px;
    padding-top: 5px;
    position: fixed;
    left: var(--col1width);
    top: 0;
}

.glower {
    opacity: var(--opacity);
}

.glower:hover {
    opacity: 1.0;
}

